<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TODO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EFC13F11F7280DD0001C44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EFC14051F7280DD0001C44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EFC14101F7280DD0001C44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
